*{
  padding: 0;
  margin: 0;
}
.task-list{
  margin-top: 50px;
  padding: 40px;
  background-color: bisque;
}

.add-task{
  background-color: cyan;
  margin-top: 50px;
  padding: 40px;
  
}
.add-task input{
  width: 400px;
  height: 40px;
}

.add-task button{
  width: 45px;
  height: 45px;
}